.DelayMessage{
    overflow: hidden;
    font-size: 0.7rem;
    height: 100%;
    /* line-height: 1.2rem; */
    box-sizing: border-box;
    padding: 0px;
    text-align: left;
    background: #ec2666;
    color: white;
}
.DelayMessage-container{
    height: calc(100% / 3 - 10px + 10px / 3);
    padding: 0;
    margin-bottom: 10px;
}
.DelayMessage .name{

}

.DelayMessage .direction{
    font-weight: 200;
    font-size: 0.45rem;
}
.DelayMessage .departure{
    line-height: 0.8rem;
}
.DelayMessage .delay{
    font-size: 1.2rem;
    line-height: 0.8rem;
    color:white;
    font-weight: 800;
}
.DelayMessage .station{
    font-size: 0.45rem;
    font-weight: 200;
}