html{
  font-family: sans-serif;
  font-size: 7vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #cee5ec;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.split{
  width: 50%;
  margin: 0;
  padding: 0;
}
.third{
  width:33%;
  margin: 0;
  padding: 0;
}
.left{
  float: left;
}
.right{
  float: right;
}
.marginless{
  margin: 0;
}
.middle{
  margin: auto;
}
.distance-top{
  margin-top: 1vh;
}
.distance-bot{
  margin-bottom:1vh;
}
.more-dist-top{
  margin-top: 3vh; 
}
.pad{
  padding: 10px;
}
.padding{
  padding: 20px;
}
.tiny-font{
  font-size: 0.5rem;
}
.small-font{
  font-size: 0.7rem;
}
.normal-font{
  font-size: 1rem;
}
.big-font{
  font-size: 1.3rem;
}
.light{
  color: grey;
  font-weight: 200;
}
.flex-1{
  flex-grow: 1;
}
.flex-2{
  flex-grow: 2;
}
.flex-container{
  display: flex;
}