.SlackMessage{
    overflow: hidden;
    font-size: 0.4rem;
    height: 100%;
    line-height: 100%;
    box-sizing: border-box;
    padding: 2px;
    text-align: left;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: none;
    position: relative;
}
.SlackMessage .profile-pic{
    height: 100%;
    width: auto;
    float: left;
    margin-right: 10px;
    /* display: inline-block; */
}
.SlackMessage .emoji-img{
    max-height: 0.7rem;
}
.SlackMessage .text-container{
    display: table;
    height: 100%;
}
.SlackMessage .text{
    display: table-cell;
    vertical-align: middle;
    line-height: normal;
}
.SlackMessage-container{
    height: calc(100% / 6 - 10px + 10px / 6);
    padding: 0;
    margin-bottom: 10px;
}
.SlackMessage .time{
    color: lightgrey;
    font-weight: 200;
    font-size: 0.3rem;
    position: absolute;
    right: 1vw;
    bottom: 0;
}