.CalendarItem{
    position: relative;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 0.59rem;
}
.CalendarItem.deleted{
    text-decoration: line-through;
}
.CalendarItem.updated{
}
.CalendarItem .time{
    font-size: 0.6rem;
    font-weight: 600;
}
.CalendarItem .location{
    font-weight: 400;
}