.DetailedCalendarItem{
    height: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 0 5px;
    text-align: center;
    overflow: hidden;
}
.DetailedCalendarItem .summary{
    line-height: 1rem;
}
.DetailedCalendarItem .location{
    line-height: 1rem;
}
.DetailedCalendarItem .progress-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: green;
}