.DetailedCalendarItem{
    height: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 0 5px;
    text-align: center;
    overflow: hidden;
}
.DetailedCalendarItem .summary{
    line-height: 1rem;
    height: 18vh;
    overflow: hidden;
}
.DetailedCalendarItem .location{
    line-height: 1rem;
    height: 10vh;
}
.DetailedCalendarItem .progress-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 15px;
    background-color: rgb(126, 221, 126);
}
.DetailedCalendarItem .logo{
    position: absolute;
    left: 2vw;
    top: 2vh;
    max-height: 5%;
}
.DetailedCalendarItem h4 {
    text-transform: uppercase;
    font-size: .8rem;
    text-align: left;
    /* height: 2rem; */
    overflow: hidden;
}

.DetailedCalendarItem h5 {
    /* height: 2rem; */
    overflow: hidden;
}

.DetailedCalendarItem h5 span {
    text-transform: uppercase;
    font-size: .6rem;
}

.DetailedCalendarItem .location {
    line-height: .6rem;
    text-align: left;
}
.DetailedCalendarItem .time{
    position: absolute;
    bottom:0;
    left: 1vw;
}
.DetailedCalendarItem .summary {
    line-height: .8rem;
}

.DetailedCalendarItem .VerticalCenter .child {
    display: block;
}

.light {
    font-size: .8rem;
    text-align: left;
}
